<body>
    <!-- Page Content -->
    <div class="container">

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="breadcrumb-item active">Uye Olun</li>
        </ol>
    </div>


</body>